In [1]:
import gmaps
import gmaps.datasets

In [2]:
gmaps.configure(api_key="AIzaSyD7MPgpIxP2KoigjbDO40yzdLVByxru12A")

In [3]:
locations = gmaps.datasets.load_dataset("taxi_rides")

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
import pandas as pd
df = pd.read_csv("Police_Department_Incident_Reports__2018_to_Present.csv")

In [26]:
set(df["Incident Category"])

{'Arson',
 'Assault',
 'Burglary',
 'Case Closure',
 'Civil Sidewalks',
 'Courtesy Report',
 'Disorderly Conduct',
 'Drug Offense',
 'Drug Violation',
 'Embezzlement',
 'Family Offense',
 'Fire Report',
 'Forgery And Counterfeiting',
 'Fraud',
 'Gambling',
 'Homicide',
 'Human Trafficking (A), Commercial Sex Acts',
 'Human Trafficking, Commercial Sex Acts',
 'Juvenile Offenses',
 'Larceny Theft',
 'Liquor Laws',
 'Lost Property',
 'Malicious Mischief',
 'Miscellaneous Investigation',
 'Missing Person',
 'Motor Vehicle Theft',
 'Motor Vehicle Theft?',
 'Non-Criminal',
 'Offences Against The Family And Children',
 'Other',
 'Other Miscellaneous',
 'Other Offenses',
 'Prostitution',
 'Rape',
 'Recovered Vehicle',
 'Robbery',
 'Sex Offense',
 'Stolen Property',
 'Suicide',
 'Suspicious',
 'Suspicious Occ',
 'Traffic Collision',
 'Traffic Violation Arrest',
 'Vandalism',
 'Vehicle Impounded',
 'Vehicle Misplaced',
 'Warrant',
 'Weapons Carrying Etc',
 'Weapons Offence',
 'Weapons Offense',
 nan}

In [24]:
murders = df[df["Incident Category"] == "Homicide"]
coordinates = murders[["Latitude", "Longitude"]].dropna()
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(coordinates))
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
coordinates

         Latitude   Longitude
2       37.775076 -122.511295
3       37.768770 -122.427462
4       37.781177 -122.503086
5       37.806963 -122.410498
6       37.807979 -122.417716
...           ...         ...
274906  37.762190 -122.508199
274907  37.712110 -122.433432
274908  37.721635 -122.428432
274909  37.728720 -122.461806
274910  37.787011 -122.399975

[259087 rows x 2 columns]

         Latitude   Longitude
2       37.775076 -122.511295
3       37.768770 -122.427462
4       37.781177 -122.503086
5       37.806963 -122.410498
6       37.807979 -122.417716
...           ...         ...
274906  37.762190 -122.508199
274907  37.712110 -122.433432
274908  37.721635 -122.428432
274909  37.728720 -122.461806
274910  37.787011 -122.399975

[259087 rows x 2 columns]

In [10]:
pd